# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
proxy_twisted/__pycache__/
proxy_twisted/crawler/__pycache__/
proxy_twisted/detector/__pycache__/
proxy_twisted/server/__pycache__/

